html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	background: #F7F6F6;
}
h1,h2,h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.canvas {
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
	box-shadow: -2px 2px 5px #AAAAAA;
	min-height: 400px;

}
.course-top-bar {
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
	box-shadow: -2px 2px 5px #AAAAAA;
	min-height: 100px;
	padding: 5px;
}
.course-grid-box {
	background: #FFFFFF;
	border: 1px solid #C6C4C4;
	box-shadow: -2px 2px 2px #AAAAAA;
}
.course-quiz-container {
	background: #FFFFFF;
	border: 1px solid #AAAAAA;
	box-shadow: -2px 2px 5px #AAAAAA;
}
.bottom-line {
	border-bottom: 1px solid #AAAAAA;
}
.course-list-item {
	height:150px;
	border: 1px solid #AAAAAA;
	margin-right: 3px;
	box-shadow: -2px 2px 2px #AAAAAA;
	padding: 2px;
}
.home-banner {
	background: url("../img/banner-bg.jpg");
	height: 300px;
	
	color:#FFFFFF;
	
}
.footer {
	background: #E8E6E6;
	height: 100px;
	color: #000000;
}
